//- заменить номера телефонов в js для булета карты
- var phoneView = '7-999-700-40-61'
- var phoneHref = 'tel:79997004061'

doctype html
html(lang="ru")
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width,initial-scale=1')
		title Оффлайн ИНТЕНСИВЫ ПО ПРОГРАММИРОВАНИЮ
		//  favicon
		link(rel='apple-touch-icon', sizes='57x57', href='img/favicon/apple-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='60x60', href='img/favicon/apple-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='76x76', href='img/favicon/apple-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='120x120', href='img/favicon/apple-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='144x144', href='img/favicon/apple-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='152x152', href='img/favicon/apple-icon-152x152.png')
		link(rel='apple-touch-icon', sizes='180x180', href='img/favicon/apple-icon-180x180.png')
		link(rel='icon', type='image/png', sizes='192x192', href='img/favicon/android-icon-192x192.png')
		link(rel='icon', type='image/png', sizes='32x32', href='img/favicon/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='96x96', href='img/favicon/favicon-96x96.png')
		link(rel='icon', type='image/png', sizes='16x16', href='img/favicon/favicon-16x16.png')
		meta(name='msapplication-TileColor', content='#FEE500')
		meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
		link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
		meta(name='theme-color', content='#FEE500')
		//  /favicon
		link(rel='stylesheet', href='./css/style.css')
	body

		//  header-page
		header.header-page
			//  wrap
			.wrap
				//  nav-page
				nav.nav-page
					a.nav-page__logo(href='./', aria-current='page')
						img.logo-full(src='./img/logo/logo-full.svg', alt='«Инжинириум» МГТУ им. Н.Э. Баумана', width='213', height='38')

					//  nav-page__list
					ul.nav-page__list.nav-page__list--page.hidde-lg
						//- li.nav-page__item
							//- a.nav-page__link.nav-page__link-page(href='#about') О нас
						li.nav-page__item
							a.nav-page__link.nav-page__link-page(href='#cource') Курсы
						//- li.nav-page__item
							//- a.nav-page__link.nav-page__link-page(href='#faq') FAQ
						li.nav-page__item
							a.nav-page__link.nav-page__link-page(href='#contact') Контакты
					//  /nav-page__list

					//  nav-page__list-end
					.nav-page__list.nav-page__list--end.hidde-md
						a.nav-page__link.nav-page__link--icon-phone(href=phoneHref) #{phoneView}
						a.nav-page__link.btn(href='#popup', dada-target-popup="popup") Записаться
					//  /nav-page__list-end

				//  /nav-page
			//  /wrap
		//  /header-page

		//  main
		main
			//  top
			section.top
				//  container-flex-desktop
				.top__wrap.wrap.wrap--wap.container-flex-desktop
					.top__container-decor.container-decor
					//  container-text
					.container-text
						h1 Оффлайн интенсивы по&#160;программированию
						.top__btn-wrap
							a.top__btn.btn.btn--action(href='#popup', dada-target-popup="popup") Записаться
							a.top__btn.btn.btn--icon-arrow(href='#video') О школе
					//  /container-text
				//  /container-flex-desktop
			//  /top

			//  step
			section.step
				h2.visually-hidden Уровни обучения
				//  wrap
				.wrap
					//  step__list
					ol.step__list
						li.step__item
							p детский сад
							h3 Увлекательные курсы
							p для самых маленьких
						li.step__item
							p 1-4 класс
							h3 Подготовительные курсы
							p для младших классов
						li.step__item
							p 5-8 класс
							h3 Инженерные курсы
							p курсы для средней школы разной сложности
						li.step__item
							p 9-11 класс
							h3 Технопарк
							p Подготовка к поступлению в ВУЗ, проектная деятельность
						li.step__item
							img(src='./img/step/step-logo.png', alt='логотип МГТУ им. Н.Э. Баумана', width='66', height='77')
							h3 МГТУ им. Н.Э. Баумана
							p Поступление в ведущий ВУЗ страны
					//  /step__list
				//  /wrap
			//  /step

			//  about
			section#video.about
				h2.visually-hidden о нас
				.wrap
					.video-wrap
						.video
							a.video__link(href='https://youtu.be/WC2hRZlrcbs' target='_blank')
								img.video__media(src='https://i.ytimg.com/vi/WC2hRZlrcbs/maxresdefault.jpg' alt='видео')
							button.video__button(aria-label='Запустить видео')
								svg(height='100%' version='1.1' viewBox='0 0 68 48' width='100%')
									path.video__case(d='M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z')
									path(d='M 45,24 27,14 27,34' fill='#fff')

				//  container-flex-desktop
				//- #about.about__wrap.wrap.wrap--wap.container-flex-desktop
				//- 	//  container-text
				//- 	.container-text
				//- 		p.about__heading.heading НАША ЦЕЛЬ — создание нового поколения молодых инженеров
				//- 		p Задача организации, в особенности же реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
				//- 		p Задача организации, в особенности же реализация намеченных плановых заданий влечет за собой процесс внедрения.
				//- 		a.about__btn.btn.btn--action(href='#popup', dada-target-popup="popup") Записаться
				//- 	//  /container-text
				//- 	.about__container-decor.container-decor
				//- //  /container-flex-desktop
			//  /about

			//  cource
			section#cource.cource
				.cource__wrap.wrap
					h2.cource__heading.heading Курсы инжинириума
					.swiper
						ul.cource__list.swiper-wrapper
							li.cource__item.cource__item--pyton.swiper-slide Программирование на python (5-8 класс)
							li.cource__item.cource__item--pyton.swiper-slide Программирование на python (9-11 класс)
							li.cource__item.cource__item--c.swiper-slide Программирование на C++ (9-11 класс)
							li.cource__item.cource__item--web.swiper-slide WEB-программирование (5-8 класс)
							li.cource__item.cource__item--web.swiper-slide WEB-программирование (5-8 класс)
						.swiper-pagination
			//  /cource

			//  faq
			section#faq.faq
				//  container-flex-desktop
				.faq__wrap.wrap.wrap--wap.container-flex-desktop
					//  container-text
					.container-text
						h2.visually-hidden Часто задаваемые вопросы
						ul.faq__list
							li.faq__item.heading Какая длительность одного занятия?
							li.faq__item.heading Сколько длится полный курс?
							li.faq__item.heading Есть ли дни открытых дверей?
							li.faq__item.heading Позвоните нам:
								|
								|
								a(href=phoneHref) #{phoneView}
						//- p
						//- 	| Позвоните нам:
						//- 	|
						//- 	a(href=phoneHref) #{phoneView}
					//  /container-text
					.faq__container-decor.container-decor
				//  /container-flex-desktop
			//  /faq

			//  map
			section#contact.map
				h2.visually-hidden Контакты
				div.visually-hidden
					address .visually-hidden
					a(href=phoneHref) #{phoneView}
				.map__wrap.wrap
					#map.map(aria-hidden='true')
			//  /map
			//  /main

			section#popup.popup.bolt-popup.no-js(role="dialog", dada-path-popup="popup")
				.popup__wrap.wrap.bolt-popup__container
					button.bolt-popup__close(aria-label='Закрыть')
					h2.visually-hidden Обратная связь

					form.form(action="#", method="post")
						p.popup__heading Запишем на курсы и ответим на любые ваши вопросы

						label.form__label
							input.form__controll(type="text", name='name', placeholder='Ваше имя')
						label.form__label
							input.form__controll(type="tel", name='phone', placeholder='Телефон*')
						label.form__label
							input.form__controll(type="email", name='email', placeholder='E-mail')
						label.form__label
							textarea.form__controll(name="cc_comment", cols="30", rows="10", placeholder='Комментарий')
						button.form__btn.btn.js_submit.button__text Отправить
						p.form__notes Нажимая на кнопку "Отправить", вы принимаете
							|
							|
							a "Согласие на&#160обработку персональных данных"
							|
							| и подтверждаете, что ознакомлены с
							|
							a "Политикой конфиденциальности"
							|.

		//  page-footer
		footer.page-footer
			.wrap
				//  nav-page
				nav.nav-page
					a.nav-page__logo(href='./', aria-current='page')
						img.logo-full(src='./img/logo/logo-full.svg', alt='«Инжинириум» МГТУ им. Н.Э. Баумана', width='213', height='38')

					//  nav-page__list
					ul.nav-page__list.nav-page__list--page.hidde-lg
						//- li.nav-page__item
						//- 	a.nav-page__link.nav-page__link-page(href='#about') О нас
						li.nav-page__item
							a.nav-page__link.nav-page__link-page(href='#cource') Курсы
						//- li.nav-page__item
						//- 	a.nav-page__link.nav-page__link-page(href='#faq') FAQ
						li.nav-page__item
							a.nav-page__link.nav-page__link-page(href='#contact') Контакты
					//  /nav-page__list

					//  nav-page__list-end
					.nav-page__list.nav-page__list--end
						//  nav-page__social-list
						ul.nav-page__social-list
							li.nav-page__social-item
								a.nav-page__social.nav-page__social--youtube(href='https://www.youtube.com/channel/UCBx0xw9L-vvIkiNeCWrP75Q/videos')
									span.visually-hidden Youtube.com
							li.nav-page__social-item
								a.nav-page__social.nav-page__social--vk(href='https://vk.com/inginirium_cherepovec')
									span.visually-hidden Вконтакте
						//  /nav-page__social-list
						a.nav-page__link.nav-page__link--icon-phone(href=phoneHref) #{phoneView}
					//  /nav-page__list-end

				//  /nav-page
		//  /page-footer
		//  /overflow
		script(src='js/swiper-bundle.min.js')
		script(src="js/bolt-popup.min.js")
		script
			include ../../build/js/main.min.js
